@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); /* Global styles */
@import "tailwindcss";

:root {
    font-weight: 600;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;

    --black: #1f2029;
    --white: #ddd8c4;
    --accent-dark: #6f8996;
    --accent-light: #fa7921;
    --light: #4e5d73;
    --dark: #2a2c41;
}

body {
    background: var(--dark);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(133deg, var(--black), var(--dark), var(--black))
        center fixed;
    font-size: 1rem; /* base */
}

@media (min-width: 768px) {
    body {
        font-size: 1.25rem; /* md */
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.25rem; /* lg */
    }
}
